{% extends 'base_template.html' %}

{% block imports %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../static/recordAttendance.css">
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="assets/demo.css">
<link rel="stylesheet" href="assets/header-fixed.css">
<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  
{% endblock %}


{% block body %}

<header class="header-fixed">
  <div class="header-limiter">
    <h1><a href="#">Motion<span>Detection</span></a></h1>
    </div>
  <!-- <button type="button" class="btn btn-primary float-right" id="load2" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Attendence..." onclick="myFunction()">
    <i class="fa fa-book fa-fw"></i> <span class="ml-1"></span>Record Attendence</span></button> -->
</header>

  <div class="container" style="margin-top:30px">
    <div class="row">

      {% for camera in camera_data %}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="{{ url_for('motion_feed', sensor=camera['topic']) }}" alt="NA" width="180" height="100%">
          <div class="card-body">
            <!-- <h5 class="card-title">Cam Feed</h5> -->
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}



<!-- <body>

	<header>
		<div class="container">
		<h2>Motion Detection</h2>
		<p class="brandname">Computer Vision App with Flask</p>
		
		
		
	</div>
  </header>
 
  
  <br>
  <div id="recorder">
    <button id="record" class="btn-info">Record</button>
    <button id="stop" class="btn-info">Stop</button>
    <a id="download"></a>
    <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>      
  </div>
  
</body>
</html> -->