<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
</head>
<body>

    <!-- {%for i in passed_list%} -->
    <div>
        <img src="../static/pic.png" alt="">
        <span>name</span>
        <!-- {%if i[2]==0%} -->
        <div width="100px" color="red" style="display: inline-block;"></div>
        <!-- {%else%} -->
        <div width="100px" color="green" style="display: inline-block;"></div>
    </div>
    <!-- {%end for%} -->
</body>
</html>